body {
    margin: 0;
    padding: 0;
    background-color: #1c483b
}
/* Header */
.header {
    background-color: #1c483b;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex: 1
}

.header-left img {
    width: 50px;
    height: 50px;
    margin: 25px 55px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex: 1;
    color: #f7efe7;
    margin-left: 70px;

}

.header-center h1 
{
    margin: 0;
    padding: 10px;
    font-family: 'Montez';
    font-size: 48px;
    color: #f7efe7;
}

.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 10px;
}

.header-right input {
    color: #f7efe7;
    padding: 10px;
    width: 150px;
}

.header-right a {
    text-decoration: none;
    color: #f7efe7;
    margin-right: 5px;
}
.header-right i {
    color: #f7efe7;
    font-size: 20px;
    margin-right: 5px;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #1c483b;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: 'Cormorant SC';
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
}
.sticky-header ul li a{
    color:#f7efe7;
    text-decoration: none;
}
.img {
    width: 100%;
    position: relative;
}

.img img {
    width: 100%;
    height: auto;

}

.img p {
    position: absolute;
    bottom: 50%;
    left: 30px;
    font-family: 'Jeju Myeongjo';
    color: #f7efe7;
    font-size: 48px;
}

.img span 
{
    font-family: 'Italianno';
    font-size: 110px
}

.hamburger 
{
    width: 25px;
    height: 20px;
    display: none;
}

#mobileMenu 
{
    position: fixed;
    top: 100px;
    background-color: #b4b4b499;
    width: 100%;
    height: auto;
    left: 0;
    display: none;
}

#desktopMenu ul li
{
    position: relative;
    transition: transform 0.3s ease;
}

#desktopMenu ul li:hover
{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#desktopMenu ul li a::after
{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -2px;
    left: 25%;
    background-color: #f7efe7;
    transform: scaleX(0); 
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

#desktopMenu ul:hover li a.ok::after { transform: scaleX(0); }
#desktopMenu ul li a.ok::after, #desktopMenu ul li a:hover::after, #desktopMenu ul li a.ok:hover::after { transform: scaleX(1); }

#mobileMenu ul li 
{
    display: block;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #f7efe7;
}

@media (max-width: 1000px) 
{

    .header 
    { 
        position: sticky; 
        top: 0; 
        height: 100px;
    }
    .header-left img 
    {
        width: 50px;
        height: 50px;
    }
    .header-center h1 { font-size: 24px; }
    .header-center h2 { font-size: 12px; margin-top: -10px; }

    .header-right i:nth-child(1),.header-right i:nth-child(2) 
    {
        margin-right: 10px;
        font-size: 18px;
    }

    .header-right a { display: none; }

    .hamburger { display: flex; padding-top: 5px;}

    .sticky-header { display: none; }
}

/* Body */

.contact-body
{
    height: 2534px;
    width: 100%;
    
}

.about
{
    height: 800px;
    width: 100%;
    display: flex; 
}

.aboutus
{
    height: 400px;
    width: 100%;  
    background-color: #f7efe7;
}

.imgct
{
    height: 800px;
    width: 50%;
    overflow: hidden;
}

.ghj
{
    height: 844px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.abtus
{
    font-size: 55px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
    color: #1c483b;
}

.prgr1
{
    font-size: 18px;
    font-family: 'Helvetica';
    text-align: right;
    padding: 0 30px;
    margin-top:-55px;
    color: #1c483b;
}

.ultr { margin-top: 20px; }

.kh
{
    font-size: 55px;
    font-weight: bold;

}

.contactp
{
    margin-left: 20px;
    margin-top: -44px;
    font-size: 16px;
}

.contactp strong
{
    font-family: 'Helvetica';
    color: #f7efe7;
}

.ourcontact
{
    height: 400px;
    background-color: #1c483b;
    font-size: 18px;
    font-family: 'Helvetica';
    color: #f7efe7;
    padding-left: 50px;
}

.ourcontact p { margin: 0 0 10px 0px; }

.ctus
{
    height: 500px;
    background-color: #dee7de;
    margin-top: -150px;
}
.ct9
{
    font-size: 150px;
    font-family: 'Italianno';
    text-align: center;
    padding-top: 70px;
    color: #1c483b;
}

.fmore
{
    font-size: 26px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
    margin-top: -190px;
    color: #1c483b;
}

.arrow-circle 
{
    width: 80px; 
    height: 80px;
    background-color: #1c483b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    transition: transform 0.3s ease;
}

.arrow 
{
    padding-bottom: 7px;
    font-size: 36px;
    color: #f7efe7;
}

.urin4
{
    display: flex;
    height: 807px;
    width: 100%;
    background-color: #f7efe7;
}

.imgi4-wrap 
{
    width: 40%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgi4-wrap img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.inputhere
{
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    width: 60%;
}

.ur9
{
    font-size: 45px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: #1c483b;
}

.y,.a,.f
{
    font-size: 123px;
    font-family: 'Italianno';
    text-align: center;
    font-weight: normal;
    margin-top: -20px;
}

.i4mt
{
    font-family: "helvetica";
    font-size: 18px;
    margin-top: -80px;
    display: grid;
    column-gap: 40px;
}

.fn, .ln, .mail, .phone, .msg 
{ 
    font-weight: bold; 
    color: #1c483b;
}

.i1, .i2, .i3
{
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}

.i4mt input 
{
  width: 100%;
  border: none;
  border-bottom: 1px solid #1c483b;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 6px 2px;
}

.i4mt input:hover
{
    font-weight: bold;
    border-bottom: 2.4px solid #112e26;
}

.i4mt input:focus::placeholder 
{
    color: transparent;
    transition: color 0.3s ease;
    transition: transform 0.25s ease;
}

.msg + textarea 
{
  grid-column: span 2;
  width: 50%;
}

#submitBtn
{
    margin-top: 33px;
    background-color: #1c483b;
    color: #f7efe7;
    border: none;
    padding: 10px 33px 10px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#msg { font-family: Helvetica;}

#submitBtn:hover
{
    transition: transform 0.25s ease;
    background-color: #03573e;
    transform: scale(0.9);    
}

#submitBtn 
{ 
    transform: scale(1);
    transition: transform 0.25s ease; 
}

.ur9 { padding-bottom: 50px; }
.i4mt p,.i4mt input { grid-column: auto;}
.fn, .ln { grid-row: 1; }
.fn + input { grid-row: 2; }
.ln + input { grid-row: 2; }
.mail { grid-row: 3; }
.mail + input { grid-row: 4; }
.phone { grid-row: 3; }
.phone + input { grid-row: 4; }
.i4mt textarea { grid-column: span 2; }
.msg + input {grid-column: span 2;}

.arrow-circle:hover 
{
    transform: scale(1.15);
    transition: transform 0.25s ease;
    cursor: pointer;
}

@media (max-width: 1000px) 
{
    .imgct { display: none; }
    .ur9
    {
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 111px;
    }
    #submitBtn { width: 40%; }
}

@media (max-width: 781px) 
{
    .ur9 
    {
        font-size: 28px;
        margin-top: 123px;
    }
    .y { font-size: 72px;  }
}

/* footer */
.footer
{
    text-transform: uppercase;
    background: #1c483b;
    color: #f7efe7;
}

.footer1 {
    padding: 5px 0px 25px 0px;
    display: flex;
    font-family: 'Cormorant SC';
    justify-content: center; 
}

.f1_1 {
    font-family: 'Cormorant SC';
    font-size: larger;
    flex: 1;
    align-self: center;
    margin-left: 5%;
    margin-right: -7%;
}

.f1_2, .f1_4 
{
    flex: 1;
    margin-left: -10%;
}

.f1_2 p {
    font-size: 120%;
}

.f1_3 {
    flex: 1;
    margin-left: -3%;
    margin-right: 5%;
}

.f1_4 p {
    font-family: 'Cormorant SC';
    font-size: 120%;
}

.footer2{
    background: #f7efe7;
    color: #1c483b;
    display:flex;
    justify-content: center;
}
.f2_1{
    align-self: center;
    flex:1;
    margin-left: 5%;
    margin-right: -2%;
}
.f2_1 img{
    width:40%;
    height:40%;
}
.f2_2{
    flex:1;
    display:flex;
    flex-direction: column;
}
.f2_2 a
{
    text-decoration: none;
    color:#1c483b;
    font-weight: bold;
    font-size:120%;
    font-family: 'Cormorant SC';
    margin-top:4%;
}
.f2_3
{
    flex:1;
    font-weight: bold;
    font-size:120%;
    font-family: 'Cormorant SC';
}

@media (max-width: 1000px) 
{
    .footer1 { margin-left: -1%; margin-top: -2%;}
    .footer2 { padding: 20px;}
    .f1_2,.f1_3,.f1_4,.footer2, .footer1 p, .footer2 p, .footer2 a { font-size: 70%;}
    .f1_1, .f1_2, .f1_3, .f1_4
    {
        margin: 10px 10px;
        flex: none;
        justify-content: center;
    }
    .f1_1 {padding-right: 10%; font-size: 80%;}
}
