body {
    margin: 0;
    padding: 0;
    background-color: black
}
/* Header */
.header {
    background-color: #383838;
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex: 1
}

.header-left img {
    width: 93px;
    height: 93px;
    margin: 25px 55px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex: 1;
    color: white;
    margin-left: 70px;

}

.header-center h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Montez';
    font-size: 60px
}

.header-center h2 {
    margin-top: -25px;
    font-family: 'Inria Serif';
    font-weight: 100;
    font-size: 36px
}

.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 10px;
}

.header-right input {
    color: white;
    padding: 10px;
    width: 150px;
}

.header-right a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
.header-right i {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #b4b4b499;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: 'Inria Serif';
    backdrop-filter: blur(5px);
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
}
.sticky-header ul li a{
    color:white;
    text-decoration: none;
}
.img {
    width: 100%;
    position: relative;
}

.img img {
    width: 100%;
    height: auto;

}

.img p {
    position: absolute;
    bottom: 50%;
    left: 30px;
    font-family: 'Jeju Myeongjo';
    color: white;
    font-size: 48px;
}

.img span 
{
    font-family: 'Italianno';
    font-size: 110px
}

.hamburger 
{
  width: 25px;
  height: 20px;
  cursor: pointer;
  display: none;
}

#mobileMenu 
{
  background-color: #b4b4b499;
  width: 100%;
  height: auto;
  top: 111px;
  left: 0;
  z-index: 1000;
  display: none;
}

#desktopMenu ul li:hover
{
    transform: scale(1.1);
    transition: transform 0.25s ease;
}

#mobileMenu ul li 
{
    display: block;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid white;
}

@media (max-width: 1000px) 
{
    .header 
    { 
        position: sticky; 
        top: 0; 
        height: 100px;
        padding: 10px 0;
        z-index: 1000;
    }
    .header-center h1 { font-size: 36px; }
    .header-center h2 { font-size: 20px; margin-top: -10px; }

    .header-right i:nth-child(1),.header-right i:nth-child(2) 
    {
        margin-right: 10px;
        font-size: 18px;
    }

    .header-right a { display: none; }

    .hamburger { display: flex; }

    .sticky-header { display: none; }
}

/* Body */

.contact-body
{
    height: 2534px;
    width: 100%;
    background-color: #59dc66;
    
}

.about
{
    height: 844px;
    width: 100%;
    background-color: #dcaf59;
    display: flex; 
}

.aboutus
{
    height: 452px;
    width: 100%;  
    background-color: #D9D9D9;
}

.ourcontact
{
    height: 452px;
    width: 100%;  
    background-color: #383838;
}

.imgct
{
    height: 700px;
    width: 720px;
}

.ghj
{
    height: 844px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.abtus
{
    font-size: 55px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
    color: #383838;
}

.prgr1
{
    font-size: 18px;
    font-family: 'Helvetica';
    text-align: right;
    padding: 0 30px;
    margin-top:-90px;
}

.kh
{
    font-size: 55px;
    margin-top: 50px;
    font-weight: bold;

}

.contactp
{
    margin-left: 20px;
    margin-top: -44px;
}

.contactp strong
{
    font-size: 24px;
    font-family: 'Helvetica';
    color: #D9D9D9;
}
.ourcontact
{
    font-size: 18px;
    font-family: 'Helvetica';
    color: #D9D9D9;
    padding-left: 50px;
    justify-content: center;
}

.ourcontact p { margin: 0 0 10px 0px; }

.ctus
{
    height: 500px;
    width: 100%;
    background-color: #ffff;
    margin-top: -150px;
}
.ct9
{
    font-size: 150px;
    font-family: 'Italianno';
    text-align: center;
    padding-top: 100px;
    color: #383838;
}

.fmore
{
    font-size: 26px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
    margin-top: -210px;
    padding-left: 55px;
    color: #383838;
}

.arrow-circle 
{
  width: 80px; 
  height: 80px;
  background-color: #383838;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.arrow 
{
    padding-bottom: 7px;
    font-size: 36px;
    color: white;
}

.urin4
{
    display: flex;
    height: 807px;
    width: 100%;
    background-color: #d9d9d9;
    margin-top: -50px;
}

.imgi4-wrap 
{
    width: 40%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgi4-wrap img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.inputhere
{
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    width: 60%;
}

.ur9
{
    font-size: 55px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
    padding-top: 90px;
    color: #383838;
}

.y,.a,.f
{
    font-size: 123px;
    font-family: 'Italianno';
    text-align: center;
    font-weight: normal;
    margin-top: -20px;
}

.i4mt
{
    font-family: "helvetica";
    font-size: 18px;
    margin-top: -80px;
    display: grid;
    column-gap: 40px;
}

.fn, .ln, .mail, .phone, .msg { font-weight: bold; }

.i1, .i2, .i3
{
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}

.i4mt input 
{
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 6px 2px;
}

.i4mt input { border-bottom: 2px solid #000;}
.i4mt input:hover
{
    font-weight: bold;
    border-bottom: 2.4px solid #333333;
}

.i4mt input:focus::placeholder 
{
    color: transparent;
    transition: color 0.3s ease;
    transition: transform 0.25s ease;
}
.msg + textarea 
{
  grid-column: span 2;
  width: 50%;
}

#submitBtn
{
    margin-top: 33px;
    background-color: #666;
    color: white;
    border: none;
    width: 30%;
    padding: 10px 30px 10px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#msg
{
    font-size: 15px;
    font-family: 'Helvetica';
    color: #383838;
}

#submitBtn:hover
{
    transition: transform 0.25s ease;
    background-color: #3fa300;
    transform: scale(0.9);    
}

.ur9 { padding-bottom: 50px; }
.i4mt p,.i4mt input { grid-column: auto;}
.fn, .ln { grid-row: 1; }
.fn + input { grid-row: 2; }
.ln + input { grid-row: 2; }
.mail { grid-row: 3; }
.mail + input { grid-row: 4; }
.phone { grid-row: 3; }
.phone + input { grid-row: 4; }
.i4mt textarea { grid-column: span 2; }
.msg + input {grid-column: span 2;}

.arrow-circle:hover 
{
    background-color: #666;
    transform: scale(1.15);
    transition: transform 0.25s ease;
    cursor: pointer;
}

@media (max-width: 1000px) 
{
    .imgct
    {
        display: none;
    }
    .ur9
    {
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 111px;
    }
    #submitBtn 
    {   
        width: 40%;
        padding: 12px;
    }
}

/* footer */
.footer {
    background: #333333;
    color: white;
    margin-top: auto;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Inknut Antiqua';
}

.f1_1 {
    font-family: 'Inika';
    margin-left: 5%;
    flex: 1;
    margin-top: 1%;
}

.f1_2 {
    flex: 1;
    margin-left: -5%;
}

.f1_2 p {
    font-size: 120%;
}

.f1_3 {
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
}

.f1_4 {
    flex: 1;

}

.f1_4 p {
    font-family: 'Inika';
    font-size: 120%;
}

.footer2{
    background: #EFE6DD;
    color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.f2_1{
    flex:1;
    
}
.f2_1 img{
    width:40%;
    height:40%;
    margin-left:2% 
}
.f2_2{
    flex:1;
    margin-left:-18%;
    display:flex;
    flex-direction: column;
}
.f2_2 a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size:120%;
    font-family: 'Inria Serif';
    margin-top:4%;
}
.f2_3{
    flex:1;
    font-weight: bold;
    font-size:120%;
    font-family: 'Inria Serif';
}

@media (max-width: 1000px) 
{
    .footer1, .footer2 { padding: 20px; }
    .f1_2,.f1_3,.f1_4,.footer2, .footer1 p, .footer2 p, .footer2 a { font-size: 70%;}
    .f1_1, .f1_2, .f1_3, .f1_4
    {
        margin: 10px 0;
        flex: none;
    }
}
