body {
margin: 0;
padding: 0;
background-color: black
}

/* Header */
.header {
background-color: #383838;
width: 100%;
height: 152px;
display: flex;
justify-content: space-between;
align-items: center;
}

.header-left {
display: flex;
flex: 1
}

.header-left img {
width: 93px;
height: 93px;
margin: 25px 55px;
}

.header-center {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 10px;
flex: 1;
color: white;
margin-left: 70px;

}

.header-center h1 {
margin: 0;
padding: 10px;
font-family: 'Montez';
font-size: 60px
}

.header-center h2 {
margin-top: -25px;
font-family: 'Inria Serif';
font-weight: 100;
font-size: 36px
}

.header-right {
display: flex;
flex: 1;
align-items: center;
justify-content: flex-end;
margin-right: 30px;
gap: 10px;
}

.header-right input {
color: white;
padding: 10px;
width: 150px;
}

.header-right a {
text-decoration: none;
color: white;
margin-right: 5px;
}
.header-right i {
color: white;
font-size: 20px;
margin-right: 5px;
}

/* Sticky Header */
.sticky-header {
position: sticky;
top: 0;
z-index: 1000;
background-color: #b4b4b499;
display: flex;
justify-content: center;
gap: 70px;
align-items: center;
width: 100%;
height: 60px;
font-family: 'Inria Serif';
backdrop-filter: blur(5px);
}

.sticky-header ul li {
display: inline-block;
list-style: none;
margin: 10px 40px;
font-size: 25px;
}
.sticky-header ul li a{
color:white;
text-decoration: none;
}
.img {
width: 100%;
position: relative;
}

.img img {
width: 100%;
height: auto;

}

.img p {
position: absolute;
bottom: 50%;
left: 30px;
font-family: 'Jeju Myeongjo';
color: white;
font-size: 48px;
}

.img span {
font-family: 'Italianno';
font-size: 110px
}

/* MAIN CONTENT */
.main {
width: 100%;
font-family: Arial,Tahoma,sans-serif;
background-color: #fff;
}
.img::after {
background: rgba(0,0,0,0.4);
}
.img p{
text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}
.text1 {
width: 100%;
height: 247px;
display: flex;
font-family: Arial,Tahoma,sans-serif;
font-size: 36px;
text-align: center;
color: #2e7f24;
margin: -5px 0;
align-items: center;
justify-content: flex-start;
}.thanh {
width: 100%;
height: 113px;
background-color: #939393;
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 30px;
margin: 0;
}
.thanh p {
font-size: 35px;
color: black;
margin: 0;
text-align: left;
}
.thanh ul{
display:flex;
}
.thanh ul li {
display: inline-block;
list-style: none;
margin: 0 60px;
font-size: 24px;
background-color: #fff;
border: 1px solid black;
border-radius: 25px;
display: flex;
align-items: center;
gap: 1px;
padding: 5px;
}
.thanh ul li input {
border: none;
outline: none;
font-size: 20px;
padding: 5px 10px;
background: transparent;
}

.thanh ul li a{
color:black;
text-decoration: none;
transition: 0.3s;
padding: 8px 16px;
}
.thanh ul li:hover {
background-color: #42a934;
border-color: #42a934;        
}
.thanh ul li.search{
background: #fff;
border-color: black;
}
.thanh ul li.search input {
  color: #000;
}
.thanh ul li.search a{
color:#fff
}
.thanh ul li.search:hover {
  background-color: #2e7f24;
}
.thanh ul li input[type="time"],
.thanh ul li input[type="number"] {
  width: 60px;
}
.gth {
width: 95%;
height: 531px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 5px auto;
box-sizing: border-box;
align-items: center; 
}

.gth1,.gth2,.gth3{
width: 32%;
height: 100%;
border-radius: 10px;
display: flex;
flex-direction: column;
overflow: hidden;
box-sizing: border-box;
border: 1px solid #2e7f24;

}
.gth11,.gth12,.gth13{
height: 80%;
}

.gth11 img,
.gth12 img,
.gth13 img {
width: 100%;
height: 100%;
object-fit: cover;
}
.gth img:hover{
transform: scale(1.05);
transition: all 0.3s ease;

}
.td1,.td2,.td3{
background-color: #fff;
height: 20%;
}
.td1 h2,.td2 h2,.td3 h2{
font-size: 30px;
text-align: center;

}
.td1 p,.td2 p,.td3 p{
font-size: 20px;
}
.feature {
display: flex;
align-items: center; 
gap: 40px;           
}

.feature p {
margin: -20px 20px; 
font-size: 16px;
}
.tick{
color:#66A44F;
margin-top: -20px;
margin-left: 50px;
}
/*.hiện.*/
.hien {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
}

.hien > div {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 250px;
  margin-right: 400px;
}


.h1,.h2,.h3,.h4,.h5,.h6,.h7{
justify-content: center;
align-items: flex-start;
position: relative;
display: flex;
}
.slider,
.slider2,
.slider3,
.slider4,
.slider5,
.slider6,
.slider7
 {
  position: relative;
  width: 250px; 
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  margin-right: 5px;
  display: flex;
  transition: transform 0.7s ease;
  
}

.slider img,
.slider2 img,
.slider3 img,
.slider4 img,
.slider5 img,
.slider6 img,
.slider7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: none;
}
img.active {
  display: block;
}
/*..nút..*/
.prev { left: 30px; }
.next { right: -30px; }

 .prev, .next {
  position: absolute;
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  top: 50%;
  border-radius: 50%;
  font-size: 15px;
  transform: translate(-30px, -50%);

}
/*...nội dung.*/
.nd1,.nd2,.nd3,.nd4,.nd5,.nd6,.nd7{
float:right;
width: 60%;
height: 100%;
font-size: 22px;
color: #66A44F;
align-items: flex-start;
}

.nd1 p,
.nd2 p,
.nd3 p,
.nd4 p,
.nd5 p,
.nd6 p,
.nd7 p{
font-size: 22px;
color: #000;
}
.rating{
margin-top: 50px;
}
.rating i {
color: gold;
margin-left: 3px;
font-size: 15px;
vertical-align: middle;
margin-top: -5px;
}
.book {
  margin-top: 10px;
  padding: 12px 24px; 
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.book:hover {
  background: darkgreen;
  transform: scale(1.05);
}
/*..lọc..*/
.container {
  padding: 15px;
  border-radius: 10px;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column; 
  color:#000;
  font-size: 22px;
  gap: 35px;
  margin-left: 150px;
  height: auto;
}
.container > div {
  gap: 150px;
  display: flex;
  flex-direction: column;
}
.container label {
  gap: 15px;
               
}
.container p {
  color:#2e7f24;
  font-size: 22px;
}
.container input { 
  width: 20px; 
  height: 20px;
}  
.wrapper{
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.chon ul li{
    list-style: none;

}
/* Mũi tên */
.chon > div > p::after {
  content: "⌃";
  font-size: 18px;
  transition: 0.3s;
}

/* Gập danh sách */
.chon ul.hide {
  display: none;
}

/* Xoay mũi tên khi gập */
.chon > div > p.active::after {
  transform: rotate(180deg);
}

/* footer */
.footer {
background: #333333;
color: white;
margin-top: auto;
}

.footer1 {
display: flex;
justify-content: space-between;
font-family: 'Inknut Antiqua';
}

.f1_1 {
font-family: 'Inika';
margin-left: 5%;
flex: 1;
margin-top: 1%;
}

.f1_2 {
flex: 1;
margin-left: -5%;
}

.f1_2 p {
font-size: 120%;
}

.f1_3 {
flex: 1;
margin-left: 10%;
margin-right: 5%;
}

.f1_4 {
flex: 1;

}

.f1_4 p {
font-family: 'Inika';
font-size: 120%;
}

.footer2{
background: #EFE6DD;
color: black;
display:flex;
justify-content:center;
align-items:center;
}
.f2_1{
flex:1;

}
.f2_1 img{
width:40%;
height:40%;
margin-left:2% 
}
.f2_2{
flex:1;
margin-left:-18%;
display:flex;
flex-direction: column;
}
.f2_2 a{
text-decoration: none;
color:black;
font-weight: bold;
font-size:120%;
font-family: 'Inria Serif';
margin-top:4%;
}
.f2_3{
flex:1;
font-weight: bold;
font-size:120%;
font-family: 'Inria Serif';
}
.result {
  display: flex;
}
/*...................*/

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 999;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 700px;
  max-width: 90%;
  border-radius: 15px;
  padding: 25px;
  display: none;
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.close {
  font-size: 26px;
  cursor: pointer;
}

.search_b {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.modal-content label {
  font-size: 16px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.apply {
  background: #003b2f;
  color: #000;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
}

.reset {
  background: none;
  border: none;
  color: #003b2f;
  font-weight: bold;
}
/*.........*/

.chon > div > p::after {
  content: "⌃";
  font-size: 18px;
  transition: 0.3s;
}

.chon ul.hide {
  display: none;
}

.chon > div > p.active::after {
  transform: rotate(180deg);
}

.chon ul li.hidden-item {
  display: none;
}

.show-more {
  margin-top: 10px;
  font-size: 18px;
  color: #1f3d2b;
  font-weight: 600;
  cursor: pointer;
}
/* Ẩn phần xem thêm ban đầu */
.chon ul.more {
  display: none;
}

/* Nút xem thêm */
.show-more {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 18px;
  color: #2e7f24;
  font-weight: 600;
  margin-top: 8px;
}

/* Mũi tên */
.show-more .arrow {
  transition: transform 0.3s;
}

/* Khi mở */
.show-more.active .arrow {
  transform: rotate(180deg);
}
.show-all {
  color: #2e7f24;
  font-size: 18px;
  text-decoration: underline;
}
.show-more span {
  text-decoration: underline;
}
.mota h2 {
  text-align: center;
  font-size: 48px;
  color: #2e7f24;
  font-family: Arial,Tahoma,sans-serif;
  text-transform: uppercase;
}