body {
    margin: 0;
    padding: 0;
    background-color: black
}

/* Header */
.header {
    background-color: #383838;
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex: 1
}

.header-left img {
    width: 93px;
    height: 93px;
    margin: 25px 55px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex: 1;
    color: white;
    margin-left: 70px;

}

.header-center h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Montez';
    font-size: 60px
}

.header-center h2 {
    margin-top: -25px;
    font-family: 'Inria Serif';
    font-weight: 100;
    font-size: 36px
}

.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 10px;
}

.header-right input {
    color: white;
    padding: 10px;
    width: 150px;
}

.header-right a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.header-right i {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #b4b4b499;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: 'Inria Serif';
    backdrop-filter: blur(5px);
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
}

.sticky-header ul li a {
    color: white;
    text-decoration: none;
}

.img {
    width: 100%;
    position: relative;
}

.img img {
    width: 100%;
    height: auto;

}

.img p {
    position: absolute;
    bottom: 50%;
    left: 30px;
    font-family: 'Jeju Myeongjo';
    color: white;
    font-size: 48px;
}

.img span {
    font-family: 'Italianno';
    font-size: 110px
}

/* Body */
.video {
    width: 100%;
    height: auto;
    position: relative;
}

.video video {
    width: 100%;
    height: auto;

}

.video p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-family: 'Jeju Myeongjo';
    color: white;
    font-size: 40px;
    padding: 10px;
}

.video span {
    font-family: 'Italianno';
    font-size: 110px
}

/* intro */
.intro {
    width: 100%;
    height: auto;
    background: #333333;
    margin-top: -10px
}

.intro-1 {
    font-family: 'Inknut Antiqua';
    text-align: center;
    margin: 0;
    padding: 40px 15px 0;
    color: white;
}

.intro-2 {
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-size: 32px;
    padding: 0;
    margin-top: -20px;
    color: white;

}

.intro-3 {
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-size: 15px;
    margin: -20px auto 0;
    width: 90%;
    padding: 0;
    color: white;

}

/* Pics */
.pics {
    margin: 0 auto;
    width: 100%;
    background: #333333;
}

.first-view {
    width: 90%;
    display: flex;
    gap: 40px;
    padding: 40px 0;
    margin: 0 auto;
}

.first-view p {
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'Judson';
    color: white;
}

.accommodation {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.accommodation h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Judson';
}

.accommodation p {
    text-align: justify;
    font-size: 27px;
    width: 47%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Judson';
}

.room {
    width: 100%;
  
}

.room .topic {
    color:white;
    margin: 0;
    padding: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    cursor:pointer;
    font-size:20px
}



.show-pics {
    width: 100%;
    
}

.show-pics img {
    display: block;
    margin: 0 auto;
    width: 1023px;
    height: 618px;

}

.introduce-room {
    display: flex;
    color: white;
    margin: 20px auto;
    width: 90%;
    justify-content: space-between;

}

.introduce-room h2 {
    font-family: 'Judson';
    font-size: 28px
}

.introduce-room p {
    text-align: justify;
    font-size: 25px;
    width: 450px;
    color: gray;
    margin-right: 230px;
    font-family: 'Judson';
}
.hr{
    border-bottom: 2px solid white; 
    padding-bottom: 5px;
    
}


/* slideshow */
.slide-show {
    background: #333333;
    overflow: hidden;
    width: 1200px;
    margin: 50px auto;
    position: relative
}

.list-imgs {
    display: flex;
    transition: 0.5s
}

.list-imgs img {
    width: 1200px;
    height: auto;
    border-radius: 10px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
    margin: auto 20px;
    cursor: pointer
}

.btn-right {
    right: 0
}

.btn-left {
    left: 0
}

.circle {
    display: flex;
    max-width: 10px;
    margin: 10px auto;
    justify-content: center;
}
.active{
    background:white;
}

.item {
    border: 2px solid white;
    padding: 10px;
    margin: 5px;
    border-radius: 50%
}

/* booking */
.booking {
    font-family: 'Judson';
    display: flex;
    justify-content: space-between;
    background: #CCCCCC;
    padding-bottom: 5%;
    margin: 0 auto;

}

.booking h2 {
    margin-left: 67px;
    font-size: 28px;
}

.booking p {
    font-size: 25px;
    margin-right: 300px;
    font-weight: 400;
}

.booking a {
    font-size: 20px;
    color: black;
}

/* footer */
.footer {
    background: #333333;
    color: white;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Inknut Antiqua';
}

.f1_1 {
    font-family: 'Inika';
    margin-left: 5%;
    flex: 1;
    margin-top: 1%;
}

.f1_2 {
    flex: 1;
    margin-left: -5%;
}

.f1_2 p {
    font-size: 120%;
}

.f1_3 {
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
}

.f1_4 {
    flex: 1;

}

.f1_4 p {
    font-family: 'Inika';
    font-size: 120%;
}

.footer2 {
    background: #EFE6DD;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2_1 {
    flex: 1;

}

.f2_1 img {
    width: 40%;
    height: 40%;
    margin-left: 2%
}

.f2_2 {
    flex: 1;
    margin-left: -18%;
    display: flex;
    flex-direction: column;
}

.f2_2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Inria Serif';
    margin-top: 4%;
}

.f2_3 {
    flex: 1;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Inria Serif';
}

.test {
    background-color: rgb(84, 154, 130);
    width: 100%;
}