body {
    margin: 0;
    padding: 0;
    background-color: white
}

/* Header */
.header {
    background-color: #1c483b;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7efe7;
}

.header-left {
    display: flex;
    flex: 1;
    
}

.header-left img {
    width: 63px;
    height: 63px;
    margin: 50px 55px;
    
}
.header-left h1 {
    font-family: 'Montez';
    font-size: 60px;
    margin-top: 50px;
    width: 409px;
}

.header-center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.header-center input {
    padding: 10px;
    width: 593px;
    height: 49px;
    margin-top: 30px;
    color: #1c483b;
    font-size: 24px;
    font-family: 'Alegreya';
}
.header-right {
    /* background:red; */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 75px;
    gap: 5px;
    margin-top: 30px;
}

.header-right input {
    padding: 10px;
    width: 143px;
}

.header-right a {
    text-decoration: none;
    margin-right: 5px;
    font-family:'Alegreya';
    color: #f7efe7;
    font-size: 24px;
}

.header-right i {
    font-size: 30px;
    margin-right: 5px;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1c483b;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'Alegreya';
    backdrop-filter: blur(5px);
    font-size: 28px;
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
}

.sticky-header ul li a {
    color: #f7efe7;
    text-decoration: none;
    
}
.sticky-header ul li a.active {
    text-decoration: underline;
}

.video {
    width: 100%;
    height: auto;
    position: relative;
    /* background: red; */
}

.video video {
    width: 100%;
    height: 100%;
}

.video p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 42px;
    padding: 10px;
    font-weight: 700;
}

.video span {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
}

/* Body */
.img {
    width: 100%;
    height: 775px;
    position: relative;
}

.img img {
    width: 100%;
    height: auto;
}

.img p {
    position: absolute;
    bottom: 35%;
    left: 30px;
    font-family: 'Instrument Sans';
    color: white;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
}

.break {
    font-weight: 100;
    font-size: 24px;
}

/* intro */
.intro {
    width: 100%;
    height: auto;
    background: hsl(30, 50%, 89%);
    margin-top: -60px;
    color:#1c483b;

}
.intro-1 {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 32px;
    padding-top: 3%;
    font-weight: 700
}

.intro-2 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 25px;
    margin: -20px auto 0;
    width: 65%;
    padding: 0;
    font-weight: 400;

}

/* 3_pics */
.pics {
    display: flex;
    justify-content: space-between;
    background: hsl(30, 50%, 89%);
    color:#1c483b;
    padding: 5% 2%;
    font-weight:600;
}

.pics p {
    font-family: 'Montserrat';
    font-size: 18px;
    width:92%;
    text-align: justify;
}

.pics h2 {
    font-family: 'Open Sans'
}

.pics img{
    border: 2px solid #555555
}

.pic1 {
    flex: 1;
}

.pic2 {
    flex: 1;
}

.pic3 {
    flex: 1;
}

.pics a {
    text-decoration: none;
    background: #a67c52;
    color: #FFFFFF;
    padding: 2% 5%;
    font-family: 'Inter';
    font-weight: 800;
}

/* lockin */
.lockin {
    background: hsl(30, 50%, 92%);
    height: 1100px;
    color: #1c483b;
}

.lockin .topic {
    text-align: center;
    padding-top: 5%;

}

.topic h1 {
    font-family: 'Open Sans';
}

.topic h3 {
    font-family: 'Montserrat';
    width: 80%;
    margin: 20px auto;
}

.lockin hr {
    width: 15%
}

.topic a {
    background: #D4AF37;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Alegreya';
    font-weight: 700;
}


/* áº£nh */
.slide-show {
    width: 1200px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    border:2px solid white;

}

.list-imgs {
    display: flex;
    transition: 0.5s;
    width: 4800px;
    
}
.list-imgs img{
    width:1200px;
    height:600px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: silver;
    font-size: 40px;
    margin: auto 10px;
    cursor: pointer;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

/* lounge */
.lounge {
    background: hsl(30, 50%, 92%);
    min-height: 800px;
    color: #1c483b;
    margin: 3% auto
}

.lounge .topic {
    text-align: center;
    padding-top: 5%
}

.louge h1 {
    font-family: 'Open Sans';
}
.lounge h3{
    font-family: 'Montserrat';
}

.lounge hr {
    width: 15%
}

.lounge .anh {
    display: flex;
    justify-content: space-between;
    padding: 0 5%
}
.anh h1{
    font-family:'Open Sans';
}
.anh p{
    font-family:'Montserrat';
    font-weight:600;
}
.anh1 {
    width: 45%;
}

.anh2 {
    width: 45%;
}

/* footer */
.footer {
    background: #1c483b;
    color: #f7efe7;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    
}

.f1_1 {
    font-family: 'Open Sans';
    margin-left: 5%;
    flex: 1;
    margin-top: 1%;
}

.f1_2 {
    flex: 1;
    margin-left: -5%;
}

.f1_2 p {
    font-size: 120%;
    font-family: 'Open Sans';
}
.f1_2 h2{
    font-family:'Inknut Antiqua'
}

.f1_3 {
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
    font-family:'Open Sans';
    margin-top:10px
}

.f1_4 {
    flex: 1;
    font-family: 'Open Sans';
    margin-top:10px
}

.f1_4 p {
    
    font-size: 120%;
}

.footer2 {
    background: #fff8e7;
    color: #1c483b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2_1 {
    flex: 1;

}

.f2_1 img {
    width: 40%;
    height: 40%;
    margin-left: 2%
}

.f2_2 {
    flex: 1;
    margin-left: -18%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.f2_2 a {
    text-decoration: none;
    color: #1c483b;
    font-weight: bold;
    font-size: 120%;
    
    margin-top: 4%;
}

.f2_3 {
    flex: 1;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Open Sans';
}