body {
    margin: 0;
    padding: 0;
    background-color: white
}

/* Header */
.header {
    background-color: #383838;
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex: 1
}

.header-left img {
    width: 93px;
    height: 93px;
    margin: 25px 55px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex: 1;
    color: white;
    margin-left: 70px;

}

.header-center h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Montez';
    font-size: 60px
}

.header-center h2 {
    margin-top: -25px;
    font-family: 'Inria Serif';
    font-weight: 100;
    font-size: 36px
}

.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 10px;
}

/* .header-right input {
    color: white;
    padding: 10px;
    width: 150px;
} */

.header-right a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.header-right i {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #b4b4b499;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: 'Inria Serif';
    backdrop-filter: blur(5px);
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
}

.sticky-header ul li a {
    color: white;
    text-decoration: none;
}

.video {
    width: 100%;
    height: 955px;
    position: relative;
}

.video video {
    width: 100%;
    height: auto;
}

.video p {
    position: absolute;
    bottom: 35%;
    left: 30px;
    font-family: 'Jeju Myeongjo';
    color: white;
    font-size: 48px;
    padding: 10px;
}

.video span {
    font-family: 'Instrument Sans';
    font-size: 24px;
}

/* Body */
.img {
    width: 100%;
    height: 775px;
    position: relative;
}

.img img {
    width: 100%;
    height: auto;
}

.img p {
    position: absolute;
    bottom: 35%;
    left: 30px;
    font-family: 'Instrument Sans';
    color: white;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
}

.break {
    font-weight: 100;
    font-size: 24px;
}

/* intro */
.intro {
    width: 100%;
    height: auto;
    background: #333333;

}



.intro-1 {
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-size: 32px;
    padding-top: 3%;
    color: white;
}

.intro-2 {
    font-family: 'Inknut Antiqua';
    text-align: center;
    font-size: 18px;
    margin: -20px auto 0;
    width: 60%;
    padding: 0;
    color: white;


}

/* 3_pics */
.pics {
    display: flex;
    justify-content: space-between;
    background: #333333;
    color: white;
    font-family: 'Inter';
    padding: 5% 2%
}

.pics p {
    width: 90%;
    font-size: 120%;
    text-align: justify;
}

.pic1 {
    flex: 1;
}

.pic2 {
    flex: 1;
}

.pic3 {
    flex: 1;
}
.pics a {
    text-decoration: none;
    background: #BBBBBB;
    color: #FFFFFF;
    padding: 2% 5%;
}
/* lockin */
.lockin{
    background:#26241F;
    height:1100px;
    font-family:'Judson';
    color:white;
}
.lockin .topic{
    text-align: center;
    padding-top:5%;
}
.lockin hr{
    width:25%
}
.topic a{
    background:#D4AF37;
    padding:2% 5%;
    text-decoration:none;
    color:white;
    font-size:120%;
}
.lockin .button{
    position:absolute;
    display:flex;
    justify-content: space-between;
    /* background:red; */
    width:100%;

}
.lockin .button button{
    border-radius: 50%;
    padding:1% 25px;
    margin:70px;
    margin-top:250px
}
.lockin .chuyenanh .anhchuyen{
    width:100%;
    /* background:blue; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin-top:5%;
}
.lockin .chuyenanh{
    position:relative;
    

}



/* lounge */
.lounge{
    background:#26241F;
    min-height:800px;
    font-family:'Judson';
    color:white;
    margin:3% auto
}
.lounge .topic{
    text-align: center;
    padding-top:5%
}
.lounge hr{
    width:15%
}

.lounge .anh{
    display:flex;
    justify-content: space-between;
    padding: 0 5%  
}
.anh1{
    width:45%;
}
.anh2{
    width:45%;
}
/* footer */
.footer {
    background: #333333;
    color: white;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Inknut Antiqua';
}

.f1_1 {
    font-family: 'Inika';
    margin-left: 5%;
    flex: 1;
    margin-top: 1%;
}

.f1_2 {
    flex: 1;
    margin-left: -5%;
}

.f1_2 p {
    font-size: 120%;
}

.f1_3 {
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
}

.f1_4 {
    flex: 1;

}

.f1_4 p {
    font-family: 'Inika';
    font-size: 120%;
}

.footer2{
    background: #EFE6DD;
    color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.f2_1{
    flex:1;
    
}
.f2_1 img{
    width:40%;
    height:40%;
    margin-left:2% 
}
.f2_2{
    flex:1;
    margin-left:-18%;
    display:flex;
    flex-direction: column;
}
.f2_2 a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size:120%;
    font-family: 'Inria Serif';
    margin-top:4%;
}
.f2_3{
    flex:1;
    font-weight: bold;
    font-size:120%;
    font-family: 'Inria Serif';
}

/* chuyển ảnh */

