body {
    margin: 0;
    padding: 0;
    background-color: white
}

/* Header */
.header {
    background-color: #383838;
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex: 1
}

.header-left img {
    width: 93px;
    height: 93px;
    margin: 25px 55px;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex: 1;
    color: white;
    margin-left: 70px;

}

.header-center h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Montez';
    font-size: 60px
}

.header-center h2 {
    margin-top: -25px;
    font-family: 'Inria Serif';
    font-weight: 100;
    font-size: 36px
}

.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 10px;
}

/* .header-right input {
    color: white;
    padding: 10px;
    width: 150px;
} */

.header-right a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.header-right i {
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #b4b4b499;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: 'Open Sans';
    backdrop-filter: blur(5px);
    font-weight: 800;
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
}

.sticky-header ul li a {
    color: white;
    text-decoration: none;
}

.video {
    width: 100%;
    height: auto;
    position: relative;
    /* background: red; */
}

.video video {
    width: 100%;
    height: 100%;
}

.video p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 48px;
    padding: 10px;
    font-weight: 700;
}

.video span {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
}

/* Body */
.img {
    width: 100%;
    height: 775px;
    position: relative;
}

.img img {
    width: 100%;
    height: auto;
}

.img p {
    position: absolute;
    bottom: 35%;
    left: 30px;
    font-family: 'Instrument Sans';
    color: white;
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
}

.break {
    font-weight: 100;
    font-size: 24px;
}

/* intro */
.intro {
    width: 100%;
    height: auto;
    background: #333333;
    margin-top: -60px
}



.intro-1 {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 32px;
    padding-top: 3%;
    color: white;
    font-weight: 700
}

.intro-2 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 25px;
    margin: -20px auto 0;
    width: 65%;
    padding: 0;
    color: white;
    font-weight: 400;

}

/* 3_pics */
.pics {
    display: flex;
    justify-content: space-between;
    background: #333333;
    color: white;
    padding: 5% 2%
}

.pics p {
    font-family: 'Montserrat';
    font-size: 18px;
}

.pics h2 {
    font-family: 'Open Sans'
}

/* .pic1 p {
    width: 90%;
    font-size: 120%;
    text-align: justify;
} */

.pic1 {
    flex: 1;
}

.pic2 {
    flex: 1;
}

.pic3 {
    flex: 1;
}

.pics a {
    text-decoration: none;
    background: #BBBBBB;
    color: #FFFFFF;
    padding: 2% 5%;
    font-family: 'Inter';
    font-weight: 800;
}

/* lockin */
.lockin {
    background: #26241F;
    height: 1100px;
    color: white;
}

.lockin .topic {
    text-align: center;
    padding-top: 5%;

}

.topic h1 {
    font-family: 'Open Sans';
}

.topic h3 {
    font-family: 'Montserrat';
    width: 80%;
    margin: 20px auto;
}

.lockin hr {
    width: 25%
}

.topic a {
    background: #D4AF37;
    padding: 2% 5%;
    text-decoration: none;
    color: white;
    font-size: 170%;
    font-family: 'Alegreya';
    font-weight: 700;
}


/* áº£nh */
.slide-show {
    width: 1000px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

.list-imgs {
    display: flex;
    transition: 0.5s
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: silver;
    font-size: 40px;
    margin: auto 10px;
    cursor: pointer;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

/* lounge */
.lounge {
    background: #26241F;
    min-height: 800px;
    color: white;
    margin: 3% auto
}

.lounge .topic {
    text-align: center;
    padding-top: 5%
}

.louge h1 {
    font-family: 'Open Sans';
}
.lounge h3{
    font-family: 'Montserrat';
}

.lounge hr {
    width: 15%
}

.lounge .anh {
    display: flex;
    justify-content: space-between;
    padding: 0 5%
}
.anh h1{
    font-family:'Open Sans';
}
.anh p{
    font-family:'Montserrat'
}
.anh1 {
    width: 45%;
}

.anh2 {
    width: 45%;
}

/* footer */
.footer {
    background: #333333;
    color: white;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    
}

.f1_1 {
    font-family: 'Open Sans';
    margin-left: 5%;
    flex: 1;
    margin-top: 1%;
}

.f1_2 {
    flex: 1;
    margin-left: -5%;
}

.f1_2 p {
    font-size: 120%;
    font-family: 'Open Sans';
}
.f1_2 h2{
    font-family:'Inknut Antiqua'
}

.f1_3 {
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
    font-family:'Open Sans';
    margin-top:10px
}

.f1_4 {
    flex: 1;
    font-family: 'Open Sans';
    margin-top:10px
}

.f1_4 p {
    
    font-size: 120%;
}

.footer2 {
    background: #EFE6DD;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2_1 {
    flex: 1;

}

.f2_1 img {
    width: 40%;
    height: 40%;
    margin-left: 2%
}

.f2_2 {
    flex: 1;
    margin-left: -18%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.f2_2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 120%;
    margin-top: 4%;
}

.f2_3 {
    flex: 1;
    font-weight: 400;
    font-size: 120%;
    font-family: 'Open Sans';
}