
body {
    margin: 0;
    padding: 0;
    background-color: black
}

/*........................................... Header............................... */
.header {
    background-color: #1c483b;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7efe7;
}

.header-left {
    display: flex;
    flex: 1;
    
}

.header-left img {
    width: 63px;
    height: 63px;
    margin: 50px 55px;
    
}
.header-left h1 {
    font-family: 'Montez';
    font-size: 60px;
    margin-top: 50px;
    width: 409px;
}

.header-center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.header-center input {
   padding: 10px;
    width: 593px;
    height: 49px;
    margin-top: 30px;
    color: #1c483b;
    font-size: 24px;
    font-family: 'Alegreya';
}
.header-center.active input {
    width: 593px;
    opacity: 1;
}
.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 75px;
    gap: 5px;
    margin-top: 30px;
}

.header-right input {
    padding: 10px;
    width: 143px;
}

.header-right a {
    text-decoration: none;
    margin-right: 5px;
    font-family:'Alegreya';
    color: #f7efe7;
    font-size: 24px;
}

.header-right i {
    font-size: 30px;
    margin-right: 5px;
}
/*.............................menu...........................*/
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1c483b;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'Alegreya';
    backdrop-filter: blur(5px);
    font-size: 28px;
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
    position: relative;
    transition: transform 0.3s ease;
}

.sticky-header ul li a {
    color: #f7efe7;
    text-decoration: none;
}

#stmobile {
    display: none;
}

.sticky-header ul li:hover
{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.sticky-header ul li a::after
{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -2px;
    left: 25%;
    background-color: #f7efe7;
    transform: scaleX(0); 
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.sticky-header ul:hover li a.ok::after { 
  transform: scaleX(0); 
}
.sticky-header ul li a.ok::after, 
.sticky-header ul li a:hover::after, 
.sticky-header ul li a.ok:hover::after { 
  transform: scaleX(1); 
}

/* .....................bảng đặt phòng........................... */
.booking-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-size: 20px;
    color: #1c483b;
}

.booking {
    background: #fff;
    padding: 25px;
    width: 360px;
    border-radius: 8px;
}

.booking h3 {
    text-align: center;
    margin-bottom: 20px;
}

.booking-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.booking-row label {
    font-size: 20px;
}

.booking-row input {
    width: 180px;
    padding: 6px;
    color: #1c483b
}
.booking-row input[type="date"],
.booking-row input[type="time"] {
    font-size: 18px;
    color: #1c483b;
}

.spinner {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 90px;
    height: 36px;
    border-radius: 3px;
}

.count {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.booking-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.booking-actions button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.submit {
    background: #1c483b;
    color: #fff;
}

.close {
    background: #ccc;
}
.burger {
    display: none;
}
/*............................. MAIN CONTENT............................. */
.main {
width: 100%;
font-family: Arial,Tahoma,sans-serif;
background-color: #f7efe7;
}
/*...........................chữ giới thiệu chung...........................*/

.text1 {
  font-family: 'Judson';
  text-align: center;
  font-size: 32px;
  margin: -35px auto 0;
  width: 90%;
  height: 120px;
  padding: 50px 0;
  color: #1c483b;
  align-items: center; 
  background-color: #f7efe7;
}
/*...........................thanh tìm và đặt bàn...........................*/
.thanh {
width: auto;
height: 113px;
background-color: #d9d9d9;
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 30px;
margin: 0;
position: relative;
z-index: 10;
}
.thanh p {
font-size: 35px;
color: #1c483b;
margin: 0;
text-align: left;
margin-left: 50px;
}
.thanh ul{
display:flex;
margin-left: 200px;
}
.thanh ul li {
display: inline-block;
list-style: none;
margin: 0 60px;
font-size: 24px;
background-color: #ffff;
border: 1px solid #1c483b;
border-radius: 25px;
display: flex;
align-items: center;
gap: 1px;
padding: 5px;
}
.thanh ul li input {
border: none;
outline: none;
font-size: 20px;
padding: 5px 10px;
background: transparent;
}

.thanh ul li a{
color:#1c483b;
text-decoration: none;
transition: 0.3s;
padding: 8px 16px;
}
.thanh ul li.search{
background: #fff;
border-color: #1c483b;
color:#1c483b;
}
.thanh ul li.search input {
  color: #1c483b;
}


.thanh ul li input[type="time"],
.thanh ul li input[type="number"]{
  width: 60px;
  color: #1c483b;
}
.thanh ul li input[type="date"] {
  color: #1c483b;
}
.thanh ul li i {
  color: #1c483b;
}
/*...........................ảnh giới thiệu...........................*/
.gth {
width: 100%;
height: 600px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
box-sizing: border-box;
align-items: center; 
background-color: #DEE7DE;
padding: 60px 75px; 
}

.gthieu{
width: 452px;
height: 520px;
border-radius: 10px;
display: flex;
flex-direction: column;
overflow: hidden;
box-sizing: border-box;
border: 1px solid #1c483b;


}
.gth1{
height: 70%;
}

.gth1 img {
width: 100%;
height: 100%;
object-fit: cover;
}
.gth img:hover{
transform: scale(1.05);
transition: all 0.3s ease;

}
/*...........................phần trắng bên dưới ảnh...........................*/

.td{
background-color: #fff;
height: 30%;
color:#1c483b
}
.td h2{
font-size: 30px;
text-align: center;

}
.td p{
font-size: 20px;
}
.feature {
display: flex;
align-items: center; 
gap: 40px;           
}

.feature p {
margin: -20px 20px; 
font-size: 16px;
}
.tick{
color:#66A44F;
margin-top: -20px;
margin-left: 50px;
}
/*...........................lướt...........................*/

.hien {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #DEE7DE ;
}


.h {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-items: center;
  max-width: 712px;
}


.khoi_doc {
  position: absolute;
  top: 0;
  left: 0;
  width: 258px;
  height: 442px;
  background: #1c483b;
  z-index: 1;
  border-radius: 16px;
}

.khoi_ngang {
  position: absolute;
  top: 0;
  right: 0;
  width: 669px;
  height: 283px;
  background: #1c483b;
  z-index: 1;
  border-radius: 16px;
}


.hi1, .hi2, .hi3 {
  position: relative;
  overflow: hidden;
  background: #f7efe7;
  overflow: visible;
  opacity: 0;
  transition: all 0.8s ease-out;
  visibility: hidden;
  position: sticky;
  top: 100px;              
  min-height: 580px; 
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);
  margin: 0 auto;
  width: 95%;
  border-radius: 16px;
}
.hi1.active, .hi2.active, .hi3.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.hi1 > h2,
.hi2 > h2,
.hi3 > h2 {
  position: relative;
  z-index: 2;
  font-size: 52px;
  font-weight: 500;
  letter-spacing: 6px;
  color: #7a1e36;
  margin-left: 320px;
  margin-top: 120px;
  
}

.cards {
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin-left: 620px;
  margin-top: -180px;
}
.card-left {
  margin: 0;
  transform: translate(-580px, 240px);
  position: relative;
  z-index: 4;
}

.card-right {
  margin: 0;
  transform: translate(70px, -150px);
  position: relative;
  z-index: 4;
}
.h.card-left,
.h.card-right {
  border-radius: 16px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);
  background-color: azure;
  display: inline-flex;
}


.slider
 {
  position: relative;
  width: 250px; 
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  margin-right: 5px;
  display: flex;
  transition: transform 0.7s ease;
  
}

.slider img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: none;
}
img.active {
  display: block;
}
/*...........................nút sang trái phải...........................*/
.prev { left: 30px; }
.next { right: -30px; }

 .prev, .next {
  position: absolute;
  background: none;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  top: 50%;
  border-radius: 50%;
  font-size: 25px;
  transform: translate(-30px, -50%);

}
/*...........................chữ của đồ ăn...........................*/
.nd{
float:right;
width: 60%;
height: 100%;
align-items: flex-start;
}
.nd h2{
  font-size: 25px;
  color: #1c483b;
}
.nd p{
font-size: 22px;
color: #1c483b;
margin-top: 50px;
}

.rating i {
color: gold;
margin-left: 3px;
font-size: 15px;
vertical-align: middle;
margin-top: -5px;
}

/*...........................lọc...........................*/

.container .chon {
  top: 60%;
  right: 0;
  position: absolute;
  width: 300px;
  height: auto;
  color:#1c483b;
  background: rgba(217, 217, 217, 0.75);
  backdrop-filter: blur(4px); 
  z-index: 9999;
  font-size: 22px;
  overflow-y: auto;
  display: none;
  align-items: left;
  padding: 8px 24px;
}

.container .chon.active {
  display: flex;
}

.filter-toggle {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: fit-content;
}

.fa-solid .fa-filter {
  font-size: 15px;
}
.container > div {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.container label {
  gap: 15px;
               
}
.container p {
  color: #1c483b;
  font-size: 22px;
}
.container input { 
  width: 20px; 
  height: 20px;
  background: transparent;
  border: 1px solid #1c483b;
}  

.chon ul li{
    list-style: none;

}
/*...........................mũi tên gập...........................*/
.chon > div > p::after {
  content: "⌃";
  font-size: 18px;
  transition: 0.3s;
}

.chon ul.hide {
  display: none;
}

.chon > div > p.active::after {
  transform: rotate(180deg);
}

/*...........................bảng xem tất cả...........................*/

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 999;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 700px;
  max-width: 90%;
  border-radius: 15px;
  padding: 25px;
  display: none;
  z-index: 1000;
  color:#1c483b;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.close {
  cursor: pointer;
}

.search_b {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.modal-content label {
  font-size: 16px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.apply {
  background: #1c483b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
}

.reset {
  background: none;
  border: none;
  color: #1c483b;
  font-weight: bold;
}
/*...........................xem thêm...........................*/

.chon > div > p::after {
  content: "⌃";
  font-size: 18px;
  transition: 0.3s;
}

.chon ul.hide {
  display: none;
}

.chon > div > p.active::after {
  transform: rotate(180deg);
}

.chon ul li.hidden-item {
  display: none;
}

.show-more {
  margin-top: 10px;
  font-size: 18px;
  color: #1f3d2b;
  font-weight: 600;
  cursor: pointer;
}

.chon ul.more {
  display: none;
}

.show-more {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 18px;
  color: #2e7f24;
  font-weight: 600;
  margin-top: 8px;
}

.show-more .arrow {
  transition: transform 0.3s;
}

.show-more.active .arrow {
  transform: rotate(180deg);
}
.show-all {
  color: #2e7f24;
  font-size: 18px;
  text-decoration: underline;
}
.show-more span {
  text-decoration: underline;
}
/*...........................Dấu ấn đầu bếp...........................*/
.chef {
    width: 100%;
    height: 550px;
    background-color: #DEE7DE;
    display: flex;
    padding: 92px 0;
}
.chef1{
    width: 531px;
    height: 722px;
    margin: 0 50px;
}
.chef2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    gap: 10px;
}
.chef2 h3 {
    font-family: 'Inter';
    font-size: 36px;
    color: #1c483b;
    margin-bottom: 20px;
}
.chef21 {
    width: 641px;
    height: 79px;
    background-color: #d9d9d9;
}
.chef21 p {
    font-family: 'Inter';
    font-size: 25px;
    color: #1c483b;
    text-align: center;
}
/*...........................footer...........................*/
.footer {
    background: #1c483b;
    color: #f7efe7;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    
}

.f1_1 {
    font-family: 'Open Sans';
    margin-left: 5%;
    flex: 1;
    margin-top: 1%;
}

.f1_2 {
    flex: 1;
    margin-left: -5%;
}

.f1_2 p {
    font-size: 120%;
    font-family: 'Open Sans';
}
.f1_2 h2{
    font-family:'Inknut Antiqua'
}

.f1_3 {
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
    font-family:'Open Sans';
    margin-top:10px
}

.f1_4 {
    flex: 1;
    font-family: 'Open Sans';
    margin-top:10px
}

.f1_4 p {
    
    font-size: 120%;
}

.footer2 {
    background: #fff8e7;
    color: #1c483b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2_1 {
    flex: 1;

}

.f2_1 img {
    width: 40%;
    height: 40%;
    margin-left: 2%
}

.f2_2 {
    flex: 1;
    margin-left: -18%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.f2_2 a {
    text-decoration: none;
    color: #1c483b;
    font-weight: bold;
    font-size: 120%;
    
    margin-top: 4%;
}

.f2_3 {
    flex: 1;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Open Sans';
}
/*...........................responsive...........................*/
@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

  }
  .header-left,
  .header-center,
  .header-right  {
    display: flex;
    align-items: center;
    width: auto;
    margin-top: -30px;
  }
  .header-left img{
    width: 33px;
    height: 33px;
    position: static;

  }
  .header-left h1 {
    font-size: 26px;
    margin: 0;
    line-height: 1;  
    position: static;
    margin-left: -30px;
  }
  .header-center input {
    width: 170px;
    height: 20px;
    font-size: 12px;
    margin-left: -320px;
    margin-top: -5px;
    
  }
  .header-right {
    display: flex;
    align-items: center;
    margin-top: -30px;
    width: auto;
    }
  .header-right i{
    font-size: 17px;
    margin-left: -50px;
  }
  .header-right a{
    display: none;
  }
  /*.............................menu.................*/
  .sticky-header {
    display: none;
  }
  .sticky-header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: -30px
  }
  .sticky-header ul li {
        display: block;
        list-style: none;
        margin: 10px auto;
        font-size: 15px;
        font-weight: 800
    }
  .sticky-header ul li a {
        color: #1c483b;
        text-decoration: none;
    }
  .sticky-header.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        background-color: #d9d9d9;
        justify-content: flex-start;
        gap: 0px;
        align-items: flex-start;
        width: 100%;
        height: 220px;
        font-family: 'Alegreya';
        opacity: 0.9;
        backdrop-filter: blur(5px);
        font-size: 12px;
    }
  .burger {
        display: block;
        position: relative;
        z-index: 9999;
        background: none;
        border: none;
        font-size: 24px;
        color:#f7efe7;
    }
  /*.    body     */
  .text1 {
    font-size: 18px;
    padding: 20px 0;
    height: auto;
  }
  /*.............................thanh tìm và đặt bàn.................*/
  .thanh {
    display: flex;
    height: auto;
    padding: 10px;

  }
  .thanh p {
    font-size: 20px;
    margin-left: 20px;
    width: auto;
    align-items: center;
    white-space: nowrap;
  }
  .thanh ul {
    margin-left: -10px;
    gap: 4px;
    display: flex;
  }
  .thanh ul li {
    margin: 0 10px;
    font-size: 14px;
    padding: 3px;
    margin-left: -2px;
  }
  .thanh ul li input {
    font-size: 12px;
    padding: 3px 5px;
  }
  /*.............................ảnh giới thiệu.................*/
  .gth {
    display: flex;
    height: auto;
    padding: 20px 30px;
    overflow: hidden;
    width: 100%; 
    gap: 30px;
  }
  .gthieu {
    flex: 0 0 100%;
    width: 100%;
    height: auto;
  }
  .gth1 {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
  .gth1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  .td {
    display: none;
  }
  /*.............................đồ ăn.................*/
  .hien {
    width: auto;
    height: auto;
  }
  .hi1, .hi2, .hi3 {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto; 
    min-height: 0; 
    max-height: 270px;
    top: 20px;
    margin-top: 10px;
  }
  .hi1 > h2,
  .hi2 > h2,
  .hi3 > h2 {
    font-size: 20px;
    text-align: center;
    margin: 35px auto;
    letter-spacing: 2px;
    
  }
  .khoi_doc {
    width: 120px;
    height: 80px;
    border-radius: 0;
    margin: 60px 20px;
  }
  .khoi_ngang {
    width: 120px;
    height: 80px;
    border-radius: 0;
    margin: 60px 20px;
  }
  .cards {
    margin-left: 0;
    margin-top: 20px;
    background-color: transparent;
  }
  .card-left {
    transform: translate(-100px, -10px);
    display: flex;
    flex-direction: column;
    background-color: transparent;

  }
  .card-right {
    transform: translate(100px, -175px); 
    display: flex;
    flex-direction: column;
  }
.h.card-left,
.h.card-right {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

  .nd h2{
    font-size: 16px;
    text-align: center;
    
  }
  .nd p{
    display: none;
  }
  .slider {
    width: 160px; 
    height: 120px;
    border-radius: 0;
  }
  .slides img{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .prev, .next {
    font-size: 24px;
    padding: 3px 6px;
  }
  /*.............................Dấu ấn đầu bếp.................*/
  .chef {
    height: auto;
    padding: 20px 0;
    gap: 20px;
    flex-direction: column;
  }
  .chef1 {
    width: 100%;
    height: auto;
    margin: 0 30px;
  }
  .chef1 img {
    width: 90%;
    height: auto;
  }
  .chef2 {
    gap: 10px;
    width: 60%;
    margin: 0 auto; 
  }
  .chef2 h3 {
    align-items: center;
    margin-left: 0;
  }
  .chef21 {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .chef21 p {
    font-size: 18px;
  }
  /*.............................lọc.................*/
  .container .chon {
    width: 30%;
    height: auto;
    margin-top: -140px;
  }
  .c ul {
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin-left: -40px;
  }
  .c ul li {
    font-size: 16px;
  }
  .container p {
    font-size: 16px;
  }
  .container input { 
    width: 15px; 
    height: 15px;
  }
  .show-more span {
    font-size: 12px;
  }
  .show-all {
    font-size: 14px;
  }
  /*.............................bảng xem tất cả.................*/
  .modal {
    width: 80%;
    height: auto;
  }
  /*.............................footer.................*/
 
    .footer1 { 
      width: 95%;
      margin: 0 auto;
      display: flex;
    }
    .footer2 { 
      padding: 10px 10px;
    }
    .f1_2,.f1_3,.f1_4,.footer2, .footer1 p, .footer2 p, .footer2 a { 
      font-size: 70%;
    }
    .f1_1, .f1_2, .f1_3, .f1_4
    {
        margin: 10px 1px;
        flex: none;
        justify-content: center;
    }
    .f1_1 {
      font-size: 80%;
    }
    .f1_2 {
      margin-top: -1px;
    }
}