body {
    margin: 0;
    padding: 0;
    background-color: white
}



/* Header */
.header {
    background-color: #1c483b;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7efe7;
}

@media (max-width: 789px) {
    .header {
        background-color: #1c483b;
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #f7efe7;
        position: sticky;
        top: 0;
        z-index: 10000;
    }

}

.header-left {
    display: flex;
    flex: 1;
}

@media (max-width: 789px) {
    .header-left {
        display: flex;
        flex: 1;
        gap: 5px
    }
}

.header-left img {
    width: 63px;
    height: 63px;
    margin: 50px 55px;
}

@media (max-width: 789px) {
    .header-left img {
        width: 28px;
        height: 28px;
        margin: auto 10px;
    }
}

.header-left h1 {
    font-family: 'Montez';
    font-size: 60px;
    margin-top: 50px;
    width: 409px;
}

@media (max-width: 789px) {
    .header-left h1 {
        font-family: 'Montez';
        font-size: 20px;
        margin-top: 18px;
        width: 120px;
        /* background:red; */
    }
}

#mobile {
    display: none;
}

.header-center input {
    padding: 10px;
    width: 593px;
    height: 49px;
    margin-top: 30px;
    color: #1c483b;
    font-size: 24px;
    font-family: 'Alegreya';

}

@media (max-width:789px) {
    .header-center {
        position: relative;
    }
}

@media (max-width: 789px) {
    .header-center input {
        padding: 10px;
        width: 120px;
        height: 20px;
        margin-top: 20px;
        color: #1c483b;
        font-size: 24px;
        font-family: 'Alegreya';
        border-radius: 10px;
        margin-left: 0px;
        position: relative;
        z-index: 1000;
    }

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
}

@media(max-width:789px) {
    .header-center img {
        position: absolute;
        /* background:red; */
        color: #1c483b;
        width: 15px;
        height: 15px;
        z-index: 9999;
        left: 10px;
        top: 25px
    }
}

.header-right {
    /* background:red; */
    flex: 1;
    margin-left: 40px;
    margin-top: 30px;
}

#mobile button {
    display: inline-block;
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    padding: 0
}

@media (max-width: 789px) {
    .header-right {
        /* background:red; */
        display: flex;
        flex: 1;
        margin-right: 5px;
        gap: 5px;
        margin-top: -5px;
        margin-left: 10px;

    }
}

.header-right a {
    text-decoration: none;
    margin-right: 5px;
    font-family: 'Alegreya';
    color: #f7efe7;
    font-size: 24px;
}

@media (max-width: 789px) {
    .header-right a {
        text-decoration: none;
        margin-right: 0;
        font-family: 'Alegreya';
        color: #f7efe7;
        font-size: 34px;
    }
}

.header-right i {
    font-size: 30px;
    margin-right: 5px;
}

@media (max-width: 789px) {
    .header-right i {
        font-size: 20px;
        margin-right: 0;
    }
}


.burger {
    display: none;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1c483b;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'Alegreya';
    backdrop-filter: blur(5px);
    font-size: 28px;
}

@media (max-width:789px) {

    .sticky-header {
        display: none;
    }

    .sticky-header.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        background-color: #d9d9d9;
        justify-content: flex-start;
        gap: 0px;
        align-items: flex-start;
        width: 100%;
        height: 220px;
        font-family: 'Alegreya';
        opacity: 0.9;
        backdrop-filter: blur(5px);
        font-size: 12px;
        z-index: 1000;
    }

    .burger {
        display: block;
        position: relative;
        z-index: 9999;
    }
}

@media (max-width:789px) {
    .sticky-header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background:red; */
        width: 100%;
        margin-left: -30px
    }
}

.sticky-header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    font-size: 25px;
}

@media (max-width:789px) {
    .sticky-header ul li {
        display: block;
        list-style: none;
        margin: 10px auto;
        font-size: 15px;
        /* background:Red */
        font-weight: 800
    }
}

.sticky-header ul li a {
    color: #f7efe7;
    text-decoration: none;

}

@media (max-width:789px) {
    .sticky-header ul li a {
        color: #1c483b;
        text-decoration: none;
    }
}

.sticky-header ul li a.active {
    text-decoration: underline;
}




/* body */
.video {
    width: 100%;
    height: auto;
    position: relative;
    /* background: red; */
}

.video video {
    width: 100%;
    height: 100%;
}


.video p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 42px;
    padding: 10px;
    font-weight: 700;
}

@media (max-width:789px) {
    .video p {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 5px;
        font-family: 'Open Sans';
        color: white;
        font-size: 15px;
        padding: 10px;
        font-weight: 700;
    }
}

.video span {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
}

@media (max-width:789px) {
    .video span {
        font-family: 'Montserrat';
        font-size: 13px;
        font-weight: 400;
    }
}



/* intro */
.intro {
    width: 100%;
    height: auto;
    background: #f1e3d5;
    margin-top: -60px;
    color: #1c483b;
}

@media (max-width:789px) {
    .intro {
        width: 100%;
        height: auto;
        background: #f1e3d5;
        margin-top: -40px;
        color: #1c483b;
    }
}

.intro-1 {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 32px;
    padding-top: 3%;
    font-weight: 700
}

@media (max-width:789px) {
    .intro-1 {
        font-family: 'Open Sans';
        text-align: center;
        font-size: 22px;
        padding-top: 10%;
        font-weight: 700
    }
}

.intro-2 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 25px;
    margin: -20px auto 0;
    width: 65%;
    padding: 0;
    font-weight: 400;
}

@media (max-width:789px) {
    .intro-2 {
        font-family: 'Montserrat';
        text-align: center;
        font-size: 13px;
        margin: -20px auto 0;
        width: 87%;
        padding: 0;
        font-weight: 400;
    }
}

/* 3_pics */
.pics {
    display: flex;
    justify-content: space-between;
    background: #f1e3d5;
    color: #1c483b;
    padding: 5% 2%;
    font-weight: 600;
}

@media (max-width:789px) {
    .pics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #f1e3d5;
        color: #1c483b;
        padding: 5% 2%;
        font-weight: 600;
        gap: 60px
    }
}

.pics p {
    font-family: 'Montserrat';
    font-size: 18px;
    width: 92%;
    text-align: justify;
}

@media (max-width:789px) {
    .pics p {
        font-family: 'Montserrat';
        font-size: 12px;
        width: 92%;
        text-align: justify;
    }
}

.pics h2 {
    font-family: 'Open Sans'
}

@media (max-width:789px) {
    .pics h2 {
        font-family: 'Open Sans';
        font-size:16px;
    }
}

.pics img {
    border: 2px solid #555555
}

@media (max-width:789px) {
    .pics img {
        border: 2px solid #555555;
        width: 100%;
        max-height: 220px;
        object-fit: cover; 
        object-position: center;
    }
}

.pic1 {
    flex: 1;
}

.pic2 {
    flex: 1;
}

.pic3 {
    flex: 1;
}

.pics a {
    text-decoration: none;
    background: #a67c52;
    color: #FFFFFF;
    padding: 2% 5%;
    font-family: 'Inter';
    font-weight: 800;
}
@media (max-width:789px){
    .pics a {
    text-decoration: none;
    background: #a67c52;
    color: #FFFFFF;
    padding: 10px 20px;
    font-family: 'Inter';
    font-weight: 800;
    font-size:10px;
    
}
}

/* lockin */
.lockin {
    background: #f5ebe0;
    height: 1100px;
    color: #1c483b;
}

.lockin .topic {
    text-align: center;
    padding-top: 5%;

}

.topic h1 {
    font-family: 'Open Sans';
}

.topic h3 {
    font-family: 'Montserrat';
    width: 80%;
    margin: 20px auto;
}

.lockin hr {
    width: 15%
}

.topic a {
    background: #D4AF37;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Alegreya';
    font-weight: 700;
}


/* áº£nh */
.slide-show {
    width: 1200px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    border: 2px solid white;

}

.list-imgs {
    display: flex;
    transition: 0.5s;
    width: 4800px;

}

.list-imgs img {
    width: 1200px;
    height: 600px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: silver;
    font-size: 40px;
    margin: auto 10px;
    cursor: pointer;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

/* lounge */
.lounge {
    background: hsl(30, 50%, 92%);
    min-height: 800px;
    color: #1c483b;
    margin: 3% auto
}

.lounge .topic {
    text-align: center;
    padding-top: 5%
}

.louge h1 {
    font-family: 'Open Sans';
}

.lounge h3 {
    font-family: 'Montserrat';
}

.lounge hr {
    width: 15%
}

.lounge .anh {
    display: flex;
    justify-content: space-between;
    padding: 0 5%
}

.anh h1 {
    font-family: 'Open Sans';
}

.anh p {
    font-family: 'Montserrat';
    font-weight: 600;
}

.anh1 {
    width: 45%;
}

.anh2 {
    width: 45%;
}

/* footer */
.footer {
    background: #1c483b;
    color: #f7efe7;
}

.footer1 {
    display: flex;
    justify-content: space-between;

}

.f1_1 {
    font-family: 'Open Sans';
    margin-left: 5%;
    flex: 1;
    margin-top: 1%;
}

.f1_2 {
    flex: 1;
    margin-left: -5%;
}

.f1_2 p {
    font-size: 120%;
    font-family: 'Open Sans';
}

.f1_2 h2 {
    font-family: 'Inknut Antiqua'
}

.f1_3 {
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
    font-family: 'Open Sans';
    margin-top: 10px
}

.f1_4 {
    flex: 1;
    font-family: 'Open Sans';
    margin-top: 10px
}

.f1_4 p {

    font-size: 120%;
}

.footer2 {
    background: #fff8e7;
    color: #1c483b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2_1 {
    flex: 1;

}

.f2_1 img {
    width: 40%;
    height: 40%;
    margin-left: 2%
}

.f2_2 {
    flex: 1;
    margin-left: -18%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.f2_2 a {
    text-decoration: none;
    color: #1c483b;
    font-weight: bold;
    font-size: 120%;

    margin-top: 4%;
}

.f2_3 {
    flex: 1;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Open Sans';
}